.top__page{
    background-color: rgb(2, 2, 2);
}
body{
    background-image: url(/src/main/resources/static/image/library.png)
}
*{
    margin: 10px;
    padding: 10px;
}
.container{
    color: white;
    background-color: rgb(3, 3, 3);
    border: 2px solid rgb(245, 242, 242);
}
footer{
    background-color: rgb(246, 248, 248);
}
.nav__links{
background-color: rgb(240, 236, 232);
border: rgb(32, 102, 102);
}
.projects__project {
border: 2px solid rgb(245, 242, 242);
border-radius: 15px;
}
img{
    border-color: white;
    border: 2px solid rgb(248,246,246);
    border-radius: 15px ;
}