<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mystery Page</title>
        <link rel="stylesheet" href="./css/mystery-style.css">
        <link rel="stylesheet" href="./css/mystery-layout.css">
    </head>
    <body>
        <div class="top__page">
            <header class="header">
                <h1 class="header__title">
                    Welcome to the <span th:text="${category.name}">Mystery</span> Section!
                </h1>
                <img class="header__logo" src="./image/logo.png" />
    
            </header>
    
            <aside class="main__sidebar">
                <nav class="sidebar__navigation">
                    <ul class="navigation__links">
                        <li class="navigation__link"><a href="./HOMEPAGE.html">Home</a></li>
                    </ul>
                </nav>
    
            </aside>
        </div>
    
        
            <div class="container">
                <header>
                    <h1>
                        You can find here our list of <span th:text="${category.name}"> Mystery</span> books.
                    </h1>
                </header>
                <main>
                    <h2>
                        <h2 th:text="${category.description}">This is the category description</h2>

                    </h2>
                    <ul th:each ="book: ${category.books}">
                        <li><span th:text="${book.bookTitle}">Not a Book</span></li>
<!--                        <li><a href="./Sherlock Holmes.html">Sherlock Holmes</a></li>-->
<!--                        <li><a href="./NancyDrew.html">Nancy Drew</a></li>-->
                    </ul>
                    <!-- <a href="./HOMEPAGE.html">Back to Home Page</a> -->
                </main>
                <footer><small>&copy2021</small></footer>
            </div>
        
    </body>
</html>